.background {
    background: #EBF2FB;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header{
    padding: 20px 28px;
    background: #FFFFFF;
    box-shadow: 0 1px 10px rgba(104, 121, 187, 0.1);
}
